* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.main-wrapper {
    background-color: #000000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* popup main */

.popup-main {
    background-color: #ffffff;
    position: relative;
    font-size: 20px;
    width: 32em;
    height: 62vh;
    background-image: url("../img/main-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Popup Content main */

.popup-content-main {
    background-image: url("../img/popup-light.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
}

/* Popup Content */

.popup-content {
    display: flex;
    padding: 1.8em 1.5em;
}

.popup-left img {
    height: 55vh;
}

/* Popup Right */

.popup-content .count-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .4em;
    padding-left: 5em;
    padding-bottom: 7.5em;
}

.popup-content .count-popup .single-time {
    margin-right: .7em;
}

.popup-content .count-popup .single-time:last-child {
    margin-right: 0em;
}

.popup-content .count-popup .single-time span {
    background-color: #F4F4F4;
    color: #979797;
    font-size: 1.23em;
    font-weight: 400;
    line-height: 1em;
    padding: 0 .2em;
    margin-right: .05em;
}

.popup-content .popup-right .count-popup .single-time p {
    text-align: center;
    color: #000000;
    font-size: .4em;
    font-weight: 600;
    line-height: 1.5em;
    padding-top: .5em;
}

/* Pop Text */

.popup-right .popup-text h1 {
    width: 2.9em;
    color: #BCBAD0;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.1em;
    padding-left: 1.2em;
    padding-bottom: .2em;
    transition: all .2s linear;
}

.popup-right .popup-text h1:hover {
    color: #4F80FF;
}

.popup-right .popup-text span {
    color: #000000;
}

.popup-right .popup-text p {
    color: #848484;
    font-weight: 400;
    font-size: .6em;
    line-height: 1em;
    padding-left: 4em;
    padding-bottom: 3.6em;
    transition: all .2s linear;
}

.popup-right .popup-text p:hover {
    color: #4F80FF;
}

/*  Button Area Start */

.link-area {
    padding-left: 2.5em;
}

.link-area .jomphaa-btn, .shop-btn {
    text-decoration: none;
    padding: .8em 1.5em;
    letter-spacing: .12em;
    font-size: .55em;
    line-height: 1.273em;
}

/* Jomphaa Button */

.jomphaa-btn {
    background: rgb(114, 102, 185);
    background: linear-gradient(to right, #2EF2F2 0%, #28D2FD 80%);
    color: #000000;
    font-weight: 600;
    margin-right: 0.7em;
    position: relative;
}

/* Shop Button */

.shop-btn {
    background-color: #E3E5F2;
    color: #000000;
    font-weight: 700;
}

.link-area .jomphaa-btn::before {
    content: '';
    position: absolute;
    top: -3.8px;
    left: -4.4px;
    border: .21em dashed #7094F6;
    opacity: .5;
    width: 104%;
    height: 110%;
}

.popup-main .close {
    z-index: 99999;
    color: rgb(14, 1, 1);
    background: rgb(114, 102, 185);
    background: linear-gradient(to right, #2EF2F2 0%, #28D2FD 80%);
    width: 25px;
    height: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
}


/* For 640 Resolution */
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) {
    .popup-main {
        font-size: 8px;
        height: 42vh;
    }

    .popup-content {
        flex-direction: column;
    }

    .popup-content img {
        margin-left: 9.4em;
        margin-top: 2.5em;
        width: 10em;
        height: 15em;
    }

    .popup-content .count-popup {
        padding-top: 2em;
        padding-left: 0em;
        padding-bottom: 2em;
    }

    .popup-right .popup-text p {
        text-align: center;
        padding-left: 0em;
    }

    .popup-right .popup-text h1 {
        width: 13em;
        text-align: center;
    }

    .popup-right .popup-text {
        display: inline;
    }

    .link-area {
        text-align: center;
        padding-left: 0em;
    }

    .link-area .jomphaa-btn::before {
        top: -1.5px;
        left: -2.6px;
    }
}

/* For 1024 Resolution */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .popup-main {
        font-size: 22px;
    }
}

/* For 1366 Resolution */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    .popup-main {
        font-size: 22px;
    }
}

@media only screen and (min-width: 1370px) and (max-width: 1605px) {
    .popup-main {
        font-size: 22px;
    }
}

/* If you're looking to supply different graphics or choose different typography for the lower resolution iPad display, the media queries below will work. */
/* Orientation : Landscape */
@media only screen and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width : 768px) and (max-device-width : 1007px) {
    .popup-main {
        font-size: 20px;
    }
}

@media only screen and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width : 768px) and (max-device-width : 1007px) {
    .popup-main {
        font-size: 21px;
    }
}